.DS_Store
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

node_modules/*
!node_modules/@threlte
node_modules/@threlte/*
!node_modules/@threlte/extras
node_modules/@threlte/extras/dist/*
!node_modules/@threlte/extras/dist/components
node_modules/@threlte/extras/dist/components/*
!node_modules/@threlte/extras/dist/components/Environment
node_modules/@threlte/extras/dist/components/Environment/*
!node_modules/@threlte/extras/dist/components/Environment/GroundProjectedEnv.svelte